html {
	font-size: 16px;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: @textColor;
}

h1 {
	font-size: @rem * 22px;
	font-weight: 500;
}

sup {
  vertical-align: text-top;
}

.text {
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}

.color {
  &-text {
    color: @textColor;
  }
  &-primary {
    color: @primaryColor;
  }
  &-secondary {
    color: @textColorSecondary;
  }
}

.ico {
  fill: currentColor;
  display: inline-block;
  line-height: 1;
  font-size: 0;
}

a {
  color: @linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
